@tailwind base;
@tailwind components;

@font-face {
  font-family: "SourceCode";
  src: local("SourceCode"),
    url(../fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf)
      format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "KnightWarrior";
  src: local("KnightWarrior"),
    url(../fonts/KnightWarrior/KnightWarrior.otf) format("opentype");
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }

  .no-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scroll-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@tailwind utilities;

body {
  background-color: #f7f7e7;
}
